/* jqScroll */

/* active */
.jqScroll_active {
    width:100%;
    overflow:hidden;zoom:1;
    position:relative;
    height:100%;
}
.jqScroll__i {
    -webkit-overflow-scrolling: touch;
}
.jqScroll_active .jqScroll__i {
    width:100%;
    overflow-y:scroll;
    padding:0 30px 0 0;
    width:100%;
    position:relative;
    height:100%;
}
.jqScroll_active .jqScroll__ii {
}
.jqScroll_active .jqScroll-bar {
    display:block;
}

/* native */
.jqScroll_native {
    overflow:auto;
}

/* jqScroll-bar */
.jqScroll-bar {
    display:none;
    position:absolute;
    right:0;
    top:10px;
    bottom:10px;
    width:5px;
    z-index:6;
    -webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;-o-user-select:none;user-select:none;
    background:#2b1905;
    border-radius:3px;
}
.jqScroll-bar__bar {
    position:absolute;
    height:100px;
    width:5px;
    -webkit-box-sizing:border-box;-moz-box-sizing:border-box;-ms-box-sizing:border-box;-o-box-sizing:border-box;box-sizing:border-box;
    cursor:pointer;
    background:#a75f0f;
    border-radius:3px;
}
.jqScroll-bar__bar:hover {
    background: #d09b09;
}
.jqScroll-bar__bar I {
    display:none;
}
